#title{
    text-align: center;

}

#flag1 {
    max-width: 200px;
    margin-left: 300px;

}

#flag2 {
    max-width: 200px;
    margin-right: 100px;
}

/* News api and google trends data notes styling */
#newsAndGoogle_note{
    font-size: 12px;
    float: right;
    padding-bottom: 20px;
    padding-right: 60px;

}

/* viewership chart size restyling */
#chart {
    margin-left:20%;
}
#bar-chart {
    max-height: 450px;
    max-width: 800px;
}