#title{
    text-align: center;

}

#flag1 {
    max-width: 200px;
    margin-left: 300px;

}

#flag2 {
    max-width: 200px;
    margin-right: 100px;
}

/* News api and google trends data notes styling */
#newsAndGoogle_note{
    font-size: 14px;

}